.category-menu{
    position: absolute;
    width: 100%;
    top: 6rem;
    left: 0;
    z-index: 1000;
    color: var(--text-color);
    background: rgba(0 , 0 , 0);
    border: .1rem solid var(--border-color) ; 
    display: none ; 
}

.category-menu.active{
    display: block ; 
}

.category-menu h2{
    padding: 1.2rem ; 
    margin: 0 ; 
    width: 100% ; 
    text-align: center ; 
    text-transform : capitalize ; 
    border-bottom: .1rem solid var(--border-color) ; 
}

.category-menu .container-box{
    display: grid ; 
    grid-template-columns: 19% 19% 19% 19% 19% ; 
    gap : .4rem ; 
    padding: .4rem ; 
}

.category-menu .container-box a{
    font-size: 1.6rem ; 
    text-decoration : none ; 
    border : .1rem solid var(--border-color) ; 
    padding: .8rem ; 
    color: var(--text-color) ; 
    overflow: hidden  ; 
    text-overflow: ellipsis ; 
    white-space : nowrap ; 
}

.category-menu .container-box a:hover{
    background: #3e3e3e; 
}