
.history-section .history-list{
    background: #000 ; 
    border-radius : .4rem ; 
    padding : .8rem ; 
    display: grid ; 
    grid-template-columns: auto auto auto ;
    width: 100% ; 
    gap : .8rem ; 
}

.history-section h2{
    color: burlywood ; 
    font-size: 1.6rem ; 
    text-align: center; 
    padding: 1.2rem ; 
    text-transform : capitalize ;
}