
.list-episode {
  background: var(--background-gray);
  border-radius: 0.4rem;
  margin: 0.8rem 0;
}

.list-episode h4 {
  font-size: 2rem;
  color: var(--text-color);
  text-transform: capitalize;
  padding: 0.8rem;
  text-align: center;
}

.list-episode .container-box {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  padding: 1.2rem;
}

.list-episode .container-box a {
  width: 5rem;
  padding: 0.2rem 0.6rem;
  background: var(--background-green);
  color: var(--text-color);
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  border-radius: 0.4rem;
  text-decoration: none;
}

.list-episode .container-box a:hover {
  opacity: 0.8;
}