.movie-list .container{
    display : grid ; 
    grid-template-columns : 19% 19% 19% 19% 19% ; 
    gap : .8rem ; 
    width: 100% ; 
    padding: 0 ; 
}

.movie-list h2{
    width: 100% ; 
    color: rosybrown ; 
    font-size : 1.6rem ; 
    padding: 1.2rem ; 
    text-align: center ; 
}

