:root{
  --primary-color : black ; 
}

*{
  padding : 0 ; 
  margin : 0 ; 
  box-sizing : border-box ; 
}

html{
  font-size: 62.5% ; 
  outline: none ; 
}

.container{
  width: 105rem ; 
  margin: auto ; 
}