:root{
  --background-color : #2d2d2d ; 
  --text-color : #cac9c9 ; 
  --text-movie-color: #cc8d4c ; 
  --border-color : #404040 ; 
  --background-gray : #242525 ; 
  --background-red : #923a3a ;  
}

*{
  padding : 0 ; 
  margin : 0 ; 
  box-sizing : border-box ; 
}

html{
  font-size: 62.5% ; 
  outline: none ; 
}

body{
  background: #000 ; 
}

.container{
  width: 105rem ; 
  margin: auto ; 
}

.home-section{
  padding: 1rem ; 
  background: var(--background-color)
}